fieldset{
    text-align:center;
}
#minuteur{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
legend{
    color:#000;
    font-size:2em;
}
#minuteur > div{
    padding: 10px;
    border-radius: 3px;
    background: #9E9E9E;
    display: inline-block;
}

#minuteur div > span{
    padding: 15px;
    border-radius: 3px;
    background: #424242;
    display: inline-block;
}

.texteMinuteur{
    padding-top: 5px;
    font-size: 16px;
}

#buttons{
    margin:10px;
}

#pause{
    border: none;
    color: #fff;
    background-color: #f44336;
    padding: 10px 24px;
}

#reprendre{
    border: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 24px;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		cursor:pointer;
}
